/* footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  /* width: 100%; */


footer{
  background-color: #333;
  padding-top: 50px;
  color: white;
}
.container{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer_content{
  width: 33.3%;
}
h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  color:  rgb(232, 194, 133);
}
.footer_content p{
  width: 190px;
  margin: auto;
  padding: 7px;

}
.footer_content ul{
  text-align: center;
}
.list{
  padding: 0;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: rgb(232, 194, 133);
  transition-duration: .5s;
}
.list li:hover::before{
  width: 70px;
}
.social_icons{
  text-align: center;
  padding: 0;
}
.social_icons li{
  display: block;
  text-align: center;
  padding: 5px;
}
a{
  text-decoration: none;
  color: white;

}
a:hover{
  color: rgb(232, 194, 133);
}

h6{
 text-align: center;
}
@media(max-width:767px){
  .container{
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  @media(max-width:574px){
    .container{
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;
    }
}
/* @media(max-width:320px){
  .container{
    width: 1%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
} */
}
