<br><br><br>
<div class="container form-body mt-5 " >
  <h1 class="text-center">About You</h1>
  <form id="portfolioForm" [formGroup]="contactForm" (ngSubmit)="handleSubmitForm()" method="post">

    <!-- Name Input -->
    <div class="form-group mb-3">
      <label for="username">Your Name</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your name" formControlName="username">
    </div>

    <!-- Email Input -->
    <!-- <div class="form-group mb-3">
      <label for="userEmail">Email address</label>
      <input type="email" class="form-control" id="userEmail" placeholder="Enter email" formControlName="email">
    </div> -->

    <!-- Phone Input -->
    <!-- <div class="form-group mb-3">
      <label for="userPhone">Phone</label>
      <input type="text" class="form-control" id="userPhone" placeholder="Enter Phone" formControlName="phone">
    </div> -->

    <!-- Education Input -->
    <!-- <div class="form-group mb-3">
      <label for="userEducation">Education</label>
      <input type="text" class="form-control" placeholder="Enter Education" formControlName="education">
    </div> -->






<!-- Image Upload Input -->
<div class="form-group mb-3">
  <label for="imageUpload">Upload Your Image or PDF</label>
  <input
    type="file"
    class="form-control"
    id="imageUpload"
    (change)="onImageUpload($event)"
    formControlName="img"
    accept=".jpg, .jpeg, .png, .pdf">
</div>



    <!-- CV Upload -->
    <!-- <div class="form-group mb-3">
      <label for="cvUpload">Upload Your Resume (GoogleDrive Link)</label>
      <input type="text" class="form-control" formControlName="resume" placeholder="Upload GoogleDrive Link">
    </div> -->

      <!-- About You Section -->
      <h3>About Your Services</h3>
      <div class="aboutUser">
      <div class="Services">
        <div class="form-group mb-3">
          <label for="workSkills">About Your Services</label>
          <input type="text" class="form-control mb-2" placeholder="Enter ur services Title" formControlName="titleServices1">
          <input type="text" class="form-control" placeholder="Enter ur services Description" formControlName="descriptionServices">
        </div>

        <!-- <div class="form-group mb-3">
          <label for="workSkills">About Your Second Skill</label>
          <input type="text" class="form-control mb-2" placeholder="Enter ur skill Title" formControlName="titleWorkSkill2">
          <input type="text" class="form-control" placeholder="Enter ur skill Description" formControlName="descriptionWorkSkill2">
        </div> -->

        <!-- <div class="form-group mb-3">
          <label for="workSkills">About Your Third Skill</label>
          <input type="text" class="form-control mb-2" placeholder="Enter ur skill Title" formControlName="titleWorkSkill3">
          <input type="text" class="form-control" placeholder="Enter ur skill Description" formControlName="descriptionWorkSkill3">
        </div> -->

        <!-- <div class="form-group mb-3">
          <label for="workSkills">About Your Fourth Skill</label>
          <input type="text" class="form-control mb-2" placeholder="Enter ur skill Title" formControlName="titleWorkSkill4">
          <input type="text" class="form-control" placeholder="Enter ur skill Description" formControlName="descriptionWorkSkill4">
        </div> -->


      <!-- </div> -->

      <!-- <div class="trackSkills">
        <div class="form-group mb-3">
          <label for="trackSkills">Enter Your Track Skills</label>
          <input type="text" class="form-control mb-2" placeholder="ur skill" formControlName="trackSkill1">
          <input type="text" class="form-control mb-2" placeholder="ur skill" formControlName="trackSkill2">
          <input type="text" class="form-control mb-2" placeholder="ur skill" formControlName="trackSkill3">
          <input type="text" class="form-control mb-2" placeholder="ur skill" formControlName="trackSkill4">
        </div>
      </div> -->


      <div class="form-group mb-3">
        <label for="aboutText">Info About You</label>
        <textarea class="form-control" id="aboutText" rows="4" placeholder="Tell us about yourself..." formControlName="notes" required></textarea>
      </div>
    </div>

        <!-- Project Upload Input -->
        <h3>About Your Projects</h3>
        <div class="projects">
        <div class="form-group mb-3 projects1">
        <label for="projectsUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProjects1($event)"
        formControlName="projectsImg1"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle1">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3" formControlName="projectsTool1">
      </div>

      <div class="form-group mb-3 projects2">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control"
        id="imageUpload mb-3"
        (change)="onImageUploadProjects2($event)"
        formControlName="projectsImg2"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle2">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3" formControlName="projectsTool2">
      </div>


      <div class="form-group mb-3 projects3">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProjects3($event)"
        formControlName="projectsImg3"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle3">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3" formControlName="projectsTool3">
      </div>

      <div class="form-group mb-3 projects4">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProjects4($event)"
        formControlName="projectsImg4"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle4">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3"  formControlName="projectsTool4">
      </div>

      <div class="form-group mb-3 projects5">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
    type="file"
    class="form-control mb-3"
    id="imageUpload"
    (change)="onImageUploadProjects5($event)"
    formControlName="projectsImg5"
    accept=".jpg, .jpeg, .png, .pdf"
  >


        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle5">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3"  formControlName="projectsTool5">
      </div>

      <div class="form-group mb-3 projects6">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProjects6($event)"
        formControlName="projectsImg6"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectsTitle6">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3"  formControlName="projectsTool6">
      </div>


      <!-- <div class="form-group mb-3 project7">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProject7($event)"
        formControlName="projectImg7"
        accept=".jpg, .jpeg, .png, .pdf"
      >

        <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectTitle7">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control mb-3"  formControlName="projectTool7">
      </div> -->

      <!-- <div class="form-group mb-3 project8">
        <label for="projectUpload">Upload Your Project Image</label>
        <input
        type="file"
        class="form-control mb-3"
        id="imageUpload"
        (change)="onImageUploadProject8($event)"
        formControlName="projectImg8"
        accept=".jpg, .jpeg, .png, .pdf"
      > -->

        <!-- <label for="projectDes">Project Title</label>
        <input type="text" class="form-control mb-3" placeholder="Enter ur title" formControlName="projectTitle8">

        <label for="projectDes">Tools</label>
        <input type="text" class="form-control"  formControlName="projectTool8">
      </div>
    </div> -->

    <!-- Blogs Upload -->
    <!-- <h3>Blogs Upload</h3>
    <div class="blog-upload-section">
      <div class="fblog ">

        <div class="form-group mb-3">
          <label for="blog1">Upload Your First Blog Link</label>
          <input type="text" class="form-control" formControlName="blog1">
        </div> -->
        <!-- Image Upload Input and blogs-->
<!-- <div class="form-group mb-3">
  <label for="imageUpload">Upload Your Image For First Blog</label>
  <input
    type="file"
    class="form-control"
    id="imageUpload"
    (change)="onBlog1Upload($event)"
    formControlName="blog1img"
    accept=".jpg, .jpeg, .png, .pdf">
</div> -->
<!-- <div class="form-group mb-3">
  <div class="form-group mb-3">
    <label for="blogTitle">Enter Ur Blog Title</label>
    <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog1title">
  </div>

  <div class="form-group mb-3">
    <label for="blogDes">Enter Ur Blog Description</label>
    <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog1description">
  </div>

  <div class="form-group mb-3">
    <label for="blogDate">Enter Ur Blog Date</label>
    <input type="text" class="form-control" placeholder="Enter ur Blog Date" formControlName="blog1date">
  </div>
</div>
      </div > -->

      <!-- <div class="sblog">
        <div class="form-group mb-3">
          <label for="blog2">Upload Your Second Blog Link</label>
          <input type="text" class="form-control" formControlName="blog2">
        </div>
        <div class="form-group mb-3">
          <label for="imageUpload">Upload Your Image For Second Blog</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            (change)="onBlog2Upload($event)"
            formControlName="blog2img"
            accept=".jpg, .jpeg, .png, .pdf">
        </div> -->

<!--
          <div class="form-group mb-3">
            <div class="form-group mb-3">
              <label for="blogTitle">Enter Ur Blog Title</label>
              <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog2title">
            </div>

            <div class="form-group mb-3">
              <label for="blogDes">Enter Ur Blog Description</label>
              <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog2description">
            </div>

            <div class="form-group mb-3">
              <label for="blogDate">Enter Ur Blog Date</label>
              <input type="text" class="form-control" placeholder="Enter ur Blog Date" formControlName="blog2date">
            </div>
          </div>

      </div> -->

      <!-- <div class="tblog">
        <div class="form-group mb-3">
          <label for="blog3">Upload Your Third Blog Link</label>
          <input type="text" class="form-control" formControlName="blog3">
        </div>

        <div class="form-group mb-3">
          <label for="imageUpload">Upload Your Image For Third Blog</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            (change)="onBlog3Upload($event)"
            formControlName="blog3img"
            accept=".jpg, .jpeg, .png, .pdf"
          >
        </div> -->

        <!-- <div class="form-group mb-3">
          <div class="form-group mb-3">
            <label for="blogTitle">Enter Ur Blog Title</label>
            <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog3title">
          </div>

          <div class="form-group mb-3">
            <label for="blogDes">Enter Ur Blog Description</label>
            <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog3description">
          </div>

          <div class="form-group mb-3">
            <label for="blogDate">Enter Ur Blog Date</label>
            <input type="text" class="form-control" placeholder="Enter ur Blog Date" formControlName="blog3date">
          </div>
        </div>

      </div> -->

      <!-- <div class="Fblog">
        <div class="form-group mb-3">
          <label for="blog4">Upload Your Fourth Blog Link</label>
          <input type="text" class="form-control" formControlName="blog4">
        </div>

        <div class="form-group mb-3">
          <label for="imageUpload">Upload Your Image For Forth Blog</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            (change)="onBlog4Upload($event)"
            formControlName="blog4img"
            accept=".jpg, .jpeg, .png, .pdf"
          >
        </div>

        <div class="form-group mb-3">
          <div class="form-group mb-3">
            <label for="blogTitle">Enter Ur Blog Title</label>
            <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog4title">
          </div>

          <div class="form-group mb-3">
            <label for="blogDes">Enter Ur Blog Description</label>
            <input type="text" class="form-control" placeholder="Enter ur title" formControlName="blog4description">
          </div>

          <div class="form-group mb-3">
            <label for="blogDate">Enter Ur Blog Date</label>
            <input type="text" class="form-control" placeholder="Enter ur Blog Date" formControlName="blog4date">
          </div>
        </div>
      </div>

    </div> -->

    <!-- for contact Section -->
    <h3>Social Accounts</h3>
    <div class="social-section">
    <!-- LinkedIn Upload -->
    <div class="form-group mb-3">
      <label for="linkedin">LinkedIn Profile</label>
      <input type="text" class="form-control" formControlName="linkedin">
    </div>

    <!-- GitHub Upload -->
    <div class="form-group mb-3">
      <label for="github">GitHub Profile</label>
      <input type="text" class="form-control" formControlName="github">
    </div>

    <!-- Facebook Upload -->
    <!-- <div class="form-group mb-3">
      <label for="facebook">Facebook Profile</label>
      <input type="text" class="form-control" formControlName="facebook">
    </div> -->

    <!-- Instagram Upload -->
    <!-- <div class="form-group mb-3">
      <label for="instagram">Instagram Profile</label>
      <input type="text" class="form-control" formControlName="instagram">
    </div>
    </div> -->
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Generate Portfolio</button>

</div>
