:host {
  --main-color: #333;
}


h1 {
  position: relative;
  display: inline-block;
  text-align: center !important;
  margin-bottom: 2rem;
  margin-left: 4.5rem;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 0.2rem;
  /* background-color: #bac964; */
  background-color: var(--main-color);
  width: 100%;

}
form{
  width: 80%;
  margin-left: 4.5rem;
}
form label{
  font-weight: bold;
  font-size: 1rem;
}

form input:focus{
  /* border-color: #bac964; */
  border-color: var(--main-color);
  outline: none;
  box-shadow: none;
}
form textarea:focus{
  border-color: #bac964;
  outline: none;
  box-shadow: none;
}

form input::placeholder{
  color: #8b8b8b;
}
.project1, .project2, .project3, .project4,
.project5, .project6, .project7
{
  border-bottom: 0.25rem solid var(--main-color);
  margin-bottom: 1rem;
}
.blog-upload-section,.social-section, .aboutUser, .projects
{
  border: 1px solid var(--main-color);
  padding: 2rem;
  margin-bottom: 3rem;
}
.fblog, .sblog, .tblog, .WorkSkills{
  border-bottom: 0.25rem solid var(--main-color);
  margin-bottom: 1rem;
}

form button{

  margin-bottom: 2rem;
  background-color: var(--main-color);
  border:0;
}
