<br><br><br> <br><br>
<div class="heading">
<h1>About Me</h1>
<div class="container">
  <section class="about">
    <div class="about_imge">
      <img src="assets\imges\about/imge.jpeg">
    </div>
  <div class="about_content">
    <h2>My name is Toqa Tamer Mohammed. </h2>
    <p>I study at Al-Shorouk Academy in the Department of Management Information Systems.
      I have studied programming and administrative subjects, <br>and I have learned front-end development, which I really love.
      </p>
  </div>
  </section>

</div>
