nav{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10%;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  height: 95px !important;
}
nav ul li{
  display: inline-block;
  padding: 50px 32px;
}
nav ul li a{
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-weight: bold;
  font-family: 'josefin sans', sans-serif;
}
nav ul li a:hover{
  color: rgb(232, 194, 133);
}
.logo{
  color: rgb(27, 26, 26);
  font-size: 35px;
  font-family: 'josefin sans', sans-serif;
  font-weight: bold;
}
span{
  color: rgb(232, 194, 133);
}
.btn-con{
  background-color: rgb(232, 194, 133);
  color: black;
  text-decoration: none;
  padding: 7px 32px;
  border-radius: 30px;
  transition: 0.5s;
}
.btn-con:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    display: none;
  }

  nav.active ul {
    display: flex;
  }
  .logo{
    font-size: 25px;
    padding: 10px 0;
  }
  .btn-con {
    margin-top: 10px;
  }
}
