<section class="projects" id="projects">
  <br><br><br><br><br>
  <h2 class="title">Projects</h2>
<div class="projects container ">
  <div class="row">
      <div class="col-lg-4 col-sm-12"id="card">
<div class="container p-5 ">
<div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
  <img src="assets\imges\projects/imge1.png" class="card-img-top rounded-0"  alt="...">
  <div class="card-body">
      <div class="row">
          <div class="col-lg-10 col-sm-12"><h4 class="card-title">Defacto.</h4><br>
              <p class="card-text">A website for selling women's, men's, and children's clothing.</p></div>
          </div>
          <br>
          <div class="col-lg-8 col-sm-12">
      <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/Defacto_2/defacto.html" class="btn btn-dark  p-3 w-90 rounded-0"id="btn_card">Go To The Site</a>
          </div>
  </div>
  </div>
</div>
      </div>
      <div class="col-lg-4 col-sm-12"id="card">
<div class="container p-5">
  <div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
      <img src="assets\imges\projects/imge2.png" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
          <div class="row">
              <div class="col-lg-10 col-sm-12"><h4 class="card-title">REGISTRATION <br>FORM.</h4>
                  <p class="card-text">Site to REGISTRATION FORM.</p></div>
                        </div>
                        <br><br>
              <div class="col-lg-8 col-sm-12">
          <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/lap14/day14/" class="btn btn-dark p-3 w-90 rounded-0"id="btn_card">Go To The Site</a>
              </div>
      </div>
      </div>
</div>
  </div>
  <div class="col-lg-4 col-sm-12"id="card">
      <div class="container p-5">
          <div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
              <img src="assets\imges\projects/imge3.png" class="card-img-top rounded-0" alt="...">
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-10 col-sm-12"><h4 class="card-title">Record.</h4><br>
                          <p class="card-text">A site for playing an audio clip.</p></div>
                      </div>
                      <br>
                      <div class="col-lg-8 col-sm-12">
                  <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/lap17/" class="btn btn-dark  p-3 w-90 rounded-0"id="btn_card">Go To The Site</a>
                      </div>
              </div>
              </div>
      </div>
          </div>
</div>
</div>
<div class="projects container">
<div class="row">
  <div class="col-lg-4 col-sm-12"id="card">
<div class="container p-5 ">
<div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
<img src="assets\imges\projects/imge4.png" class="card-img-top runded-0" alt="..."><br>
<div class="card-body">
  <div class="row">
      <div class="col-lg-10 col-sm-12"><h4 class="card-title">A table to display data.</h4><br>
          <p class="card-text">A table to display the data of all the doctors and students and how to communicate with .</p></div>
      </div>
      <br>
      <div class="col-lg-8 col-sm-12">
  <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/lap16/table.html" class="btn btn-dark p-3 w-90 rounded-0"id="btn_card">Go To The Site</a>
      </div>
</div>
</div>
</div>
  </div>
  <div class="col-lg-4 col-sm-12"id="card">
<div class="container p-5">
<div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
  <img src="assets\imges\projects/imge5.png" class="card-img-top rounded-0" alt="..."><br>
  <div class="card-body">
      <div class="row">
          <div class="col-lg-10 col-sm-12"><h4 class="card-title">Mobile App Development.</h4><br>
              <p class="card-text">A website  to learn  Mobile App Development.</p></div>
          </div>
          <br>
          <div class="col-lg-8 col-sm-12">
      <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/task20/" class="btn btn-dark p-3 w-90 rounded-0"id="btn_card">Go To The Site</a>
          </div>
  </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-sm-12"id="card">
  <div class="container p-5">
      <div class="card border-0 rounded-0 shadow" style="max-width: 18rem;">
          <img src="assets\imges\projects/imge6.png" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
              <div class="row">
                  <div class="col-lg-10 col-sm-12"><h4 class="card-title">View Photos.</h4>
                      <p class="card-text">A site for displaying images.</p></div>
                  </div>
                  <br>
                  <div class="col-lg-8 col-sm-12">
              <a href="https://qlgjlntzmyesu5ozfly2wq.on.drv.tw/task2/img_slider.html" class="btn btn-dark  p-3 w-90 rounded-0" id="btn_card">Go To The Site</a>
                  </div>
          </div>
          </div>
  </div>
      </div>
</div>
</div>
</section>
