.title{
  display: flex;
  justify-content: center;
  color:rgb(232, 194, 133) ;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
#btn_card{
  color: rgb(232, 194, 133);
}
#card{
  transition: 0,7s ease;

}
#card:hover{
  transform: scale(1.1);
}
