.content{
  margin-left: 8%;
  margin-top: 8%;
}
.content.img img{
  width: 435px;
  display: flex;
}
.content.text{
  width: 100%;
  line-height: 65px;
  color:black;
}
span{
  color: rgb(232, 194, 133);
}
.text.l4{
  font-size: 23px;
  color:black;
  letter-spacing: 2px;
}.content.text.l1{
  font-size: 75px;
  letter-spacing: 1px;
}
.text.l3{
  font-size: 25px;
  letter-spacing: 1px;
}
.projects{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 7px 30px;
  border-radius: 30px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgb(248, 247, 245),0px 0px 8px #858585;
  transition: 0.5s;
}
.projects:hover{
  background-color: transparent;
  outline: none;
  border:rgb(232, 194, 133) 2px solid ;
  color: black;
}
.story{
  text-decoration: none;
  color:black;
  background-color: rgba(239, 233, 219, 0.888);
  padding: 7px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px wheat,0px 0px 8px #858585;
}
.story:hover{
  background-color: transparent;
  outline: none;
  border:rgb(232, 194, 133) 2px solid ;
}
.img{
  width: 36%;
  height: 93%;
  position: absolute;
  bottom: 0px;
  right: 50px;
  display: block;
  background-attachment: fixed;
}
.linked{
  margin-right: 5px;
  padding: 5px;
  width: 5px;

}
.git{
  margin-right: 5px;
  padding: 5px;
  width: 5px;
  color:black;
}
.email{
  margin-right: 5px;
  padding: 5px;
  width: 5px;
  color:rgb(20, 21, 22);
}
.btn-con{
  background-color: rgb(232, 194, 133);
  color: black;
  text-decoration: none;
  padding: 7px 32px;
  border-radius: 30px;
  transition: 0.5s;
}
.btn-con:hover{
  color: #000;
  transform: scale(1.1);
}
.title{
  display: flex;
  justify-content: center;
  color:rgb(232, 194, 133) ;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
#ser{
  transition: 0,7s ease;

}
#ser:hover{
  transform: scale(1.1);
}


.social_icons{
  text-align: start;
  list-style-type: none;
}
.social_icons li{
  display: block;
  text-align: start;
  padding: 5px;
}
a{
  text-decoration: none;
  color: rgb(33, 31, 31);

}
a:hover{
  color: rgb(232, 194, 133);
}
@media(max-width:767px){
  .img{
    width: 25%;
    padding: 0 10px;
    margin-top: 15px;
    top: 0;
  }
  @media(max-width:574px){
    .img{
      width: 50%;
      padding: 0 10px;
      margin-bottom: 30px;
    }
}
/* @media(max-width:320px){
  .container{
    width: 1%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
} */
}
